<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="b7699244-4f7c-4846-a647-00a338befd3e"
    Publisher="CN=john.baumbach"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="b7699244-4f7c-4846-a647-00a338befd3e" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>SampleBrokeredThingy</DisplayName>
    <PublisherDisplayName>john.baumbach</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="SampleBrokeredThingy.App">
      <uap:VisualElements
        DisplayName="SampleBrokeredThingy"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="SampleBrokeredThingy"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
    <InProcessServer>
      <Path>clrhost.dll</Path>
      <ActivatableClass ActivatableClassId="BrokeredComponent.Sample" ThreadingModel="MTA">
        <ActivatableClassAttribute Name="DesktopApplicationPath" Type="string" Value="C:\Users\john.baumbach\Documents\Visual Studio 2015\Projects\SampleBrokeredThingy\BrokeredProxyStub\BrokeredComponent.winmd" />
      </ActivatableClass>
    </InProcessServer>
    </Extension>
  </Extensions>  
</Package>